body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;
    
}
.p{
    color: dimgray;
}
.highlight-name{
    color:orange;

}
.width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding: 2%;
}
.width img{
    width: 100%;
}
.top-bannar{
    background-image: url("photos/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.top-button{
    text-decoration: none;
    background-image: linear-gradient(45deg,red,yellow);
    padding: 10px 26px;
    border-radius: 7px;
    color: #f0f0f0;
    font-weight: 700;
}
.bottom-bannar{
    background-image:url("photos/dream-bg.png") ;
    background-repeat: no-repeat;
    background-position: right;
}
.shadow{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 60%;
}
.shadow-photo{
    background-image: url("photos/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 7%;
}
#border-1{
    border-left: 8px solid;
    border-image: linear-gradient(180deg,lightSalmon, tomato);
    border-image-slice: 1;
}
#border-2{
    border-left: 8px solid;
    border-image: linear-gradient(180deg,rgb(255, 145, 0),rgb(123, 255, 0));
    border-image-slice: 1;


}
footer{
    text-align: center;
    font-size: 25px;

}


